@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Untitled Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<style>
    .katilimciad {
        font-family: 'Open Sans', sans-serif;
        font-size: xx-large;
        display:grid;
        place-items:center;
    }
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- ImageReady Slices (kb.png) -->
    <table id="Table_01" width="1200" height="849" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3">
                <img src="~/img/cert/kb_01.gif" width="1200" height="481" alt="">
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <img src="~/img/cert/kb_02.gif" width="416" height="368" alt="">
            </td>
            <td height="44">
                <span class="katilimciad">Sn. Fahri HACIÖMEROĞLU</span>
                @*<img src="~/img/cert/kb_03.png" width="601" height="44" alt="">*@
            </td>
            <td rowspan="2">
                <img src="~/img/cert/kb_04.gif" width="183" height="368" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/cert/kb_05.gif" width="601" height="324" alt="">
            </td>
        </tr>
    </table>
    <!-- End ImageReady Slices -->
</body>
</html>